/* Hero text H1 element main body*/
body, html {
    height: 100%;
    
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/coffee-beans.jpg");

  /* Set a specific height */
  height: 50%;
  


  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.8;
  font-size: 30px;

}

.navbar-nav{
  font-size: 20px;
  text-decoration: none;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.button{
  text-decoration: none;
  background-color: sandybrown;
  border-radius: 15px;
  border: none;
  font-size: 22px;
}

.button a:link { text-decoration: none; }

.button:hover {
  background-color: darkorange;
}


/* Main Image for Company */
.center {
  text-align: center;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* Rounded border */
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    text-align: center;
    width: 60px;
  }

.second-heading{
    text-align: center;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/*Table*/
.openinghours {
  position: relative;
  text-align: center;
  font-family:Lucida Console;
  border-radius:4px;
  margin:10px;
  box-shadow: 0 0 10px black;
  padding:0 10px 0 10px;
  overflow: hidden;
  display: inline-block;
  min-width: 100%;
  justify-content: center;


}
.openinghourscontent {
  text-align: center;
  

  
}
.openinghourscontent h2 {
  display:block;
  text-align:center;
  margin-top:.33em;
  position: relative;
  display: inline-block;
}

.today {
  color: #8AC007;
}
.opening-hours-table tr td:first-child {
  font-weight:bold;
  text-align: center;
  display: inline;
  justify-content: center;
}
#open-status {
  display:block;
  margin-top:-1em;
  text-align:center;
  border:dotted lightgrey 3px;
}
.openorclosed:after {
  content:" open during these hours:";
}
.open {
  color:green;
}
.open:after {
  content:" Open";
  color: #6C0;
}
.closed:after {
  content:" Closed";
  color: red;
}
.opening-hours-table tr td {
  padding:5px;
}

/*Contact us form*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

  /*Table*/
  .opening-hours {
    max-width: 500px;
    margin: 25px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .table-headline{
    text-align: center;
  }

  /*about-us*/
  body {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(247, 244, 244);
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  width: 100%;
  box-shadow: 0 0 5px black;
  text-align: center;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgb(223, 215, 215);
  margin: 10px auto;
  padding: 5px 30px;
  width: 800px;
  box-shadow: 0 0 5px black;
}

.hr {
  display: flex;
  align-items: center;
}

hr {
  width: 30px;
  height: 1px;
  background: black;
  margin: 0 15px;
}

h2 {
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
}

.mission-txt {
  font-size: 18px;
  font-weight: 500px;
  font-style: italic;
  margin-top: 0;
}

div img {
  width: 150px;
  filter: drop-shadow(0 10px 5px black);
}

p {
  text-align: justify;
}

.faculties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.unit {
  margin: 25px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unit img {
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.unit p {
  text-align: left;
  margin: 2px;
}

.unit p:first-of-type {
  font-weight: bolder;
  margin-bottom: 5px;
}

@media screen and (max-width:820px) {
  .wrapper {
    width: 80%;
    padding: 5px 30px;
  }
}


/*Image Slider*/

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  
  body { margin: 0; } 
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
    
  }
  div img {
    height: 400px;
    width: 400%;
    border-radius: 100px;
    max-height: fit-content;
    
  }
  